@import "tailwindcss";

.stroke{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: white ;
}

.bgColor{
    background-color: rgb(88, 102, 116);
}

.blur{
    filter: blur(250px);
}
.blur1{
    filter: blur(150px);
}

.mobileMenu{
    transition: 0.6s ease;
    transition-property: right;
}